<div class="chat-message"  [ngClass]="{'my-message': message.mine, 'their-message': !message.mine}">
 
    <span class="chat-message-header">{{message.alias}} - {{message.date}}</span>
    <div class="chat-message-body">{{message.message}}</div>
  
</div>
