
  <ion-grid>
    <ion-row  class="vertical-align-content">
      <ion-col col-4>
        Alias: {{alias}}
      </ion-col>
      <ion-col col-5>
        Room: {{room}}
      </ion-col>
      <ion-col col-3>
        <button ion-button (click)="btnChangeRoom()">Change</button>
      </ion-col>
    </ion-row>
 
  </ion-grid>

  <app-user-input  (messageCreated)="onUserMessage($event)"></app-user-input>
  <app-message-list [messages]="messages"></app-message-list>


