

<ion-content padding>

  <form (ngSubmit)="onSubmit(f)" #f="ngForm">

    <ion-list>

      <ion-item>
        <ion-label>Alias</ion-label>
        <ion-input [(ngModel)]="alias"  ngModel name="alias" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Room</ion-label>
        <ion-input [(ngModel)]="room" ngModel name="room" required></ion-input>
      </ion-item>

    </ion-list>

    <div style="text-align:center">
      <button ion-button type="submit" [disabled]="!f.valid">Update</button>
      <button ion-button (click)="closeModal(false)" type="button">Cancel</button>
    </div>

    </form>

</ion-content>
