<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <ion-grid>
    <ion-row class="vertical-align-content">
      <ion-col col-10>
        <ion-textarea [(ngModel)]="userInput" class="chat-input" required ngModel name="userInput"></ion-textarea>
      </ion-col>
      <ion-col col-2>
        <button ion-button type="submit" [disabled]="!f.valid">Send</button>
      </ion-col>

    </ion-row>
  </ion-grid>

  </form>
